In [1]:
import pandas as pd
from pathlib import Path
import zipfile
import shutil
import os

In [41]:
SRC = Path(__file__).parent.resolve()#Jupyter去掉_file_
SRC

PosixPath('/Users/hengdegao/python/thesis/data')

In [43]:
BLD = SRC.joinpath("bld").resolve()
BLD.mkdir(parents=True, exist_ok=True)
print(BLD)

PosixPath('/Users/hengdegao/python/thesis/data/bld')

In [46]:

columns = ['Stkcd', 'Accper', 'A001000000']
file
df = pd.read_csv( SRC/'original_data/csmar/基本信息/资产负债表024800027/FS_Combas.csv',usecols= columns, dtype={'Stkcd': str})
df

        Stkcd      Accper    A001000000
0      000002  2013-12-31  4.792053e+11
1      000002  2014-12-31  5.084088e+11
2      000002  2015-12-31  6.112956e+11
3      000002  2016-12-31  8.306742e+11
4      000002  2017-12-31  1.165347e+12
...       ...         ...           ...
39611  873806  2021-12-31  5.124748e+09
39612  873806  2022-12-31  3.780017e+09
39613  873806  2023-12-31  3.210519e+09
39614  873833  2022-12-31  7.068130e+08
39615  873833  2023-12-31  7.787256e+08

[39616 rows x 3 columns]

In [47]:
df.loc[:, "Accper"] = pd.to_datetime(df["Accper"]).dt.year
df = df[(df['Stkcd'] >= "000001") & (df['Stkcd'] <= "679999")]
df = df.rename(columns={"Accper": "year", "A001000000": "asset"})

In [48]:
df['Stkcd'].nunique()

4405

In [50]:
produces = BLD  / "data" / "balance_sheet.pkl"
produces.parent.mkdir(parents=True, exist_ok=True)
df.to_pickle(produces)